@import "colors";
@import "buttons";


// normalization
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
}

ol, ul, dl {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.nav-tabs .nav-link {
    border: 0;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: none;
}


// common classes
.spt-125, .spy-125 {
    padding-top: 125px;
}

.spb-125, .spy-125 {
    padding-bottom: 125px;
}

.spt-100, .spy-100 {
    padding-top: 100px;
}

.spb-100, .spy-100 {
    padding-bottom: 100px;
}

.spt-50, .spy-50 {
    padding-top: 50px;
}

.spb-50, .spy-50 {
    padding-bottom: 50px;
}

.spt-75, .spy-75 {
    padding-top: 75px;
}

.spb-75, .spy-75 {
    padding-bottom: 75px;
}

.ts {
    transition: all 0.3s ease-in-out;
}


.hero-section {
    height: 100vh;
    background-image: url(../images/web-bg-s.png);
    background-position: right bottom;
    .container-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        .heading {
            margin-bottom: 48px;
            h1.first {
                font-size: 52px;
                font-weight: 600;
                line-height: 72px;
                text-transform: uppercase;
                font-family: 'Righteous', cursive;
            }
            h1.second {
                font-size: 33px;
                margin-bottom: 28px;
                font-weight: 600;
                text-transform: uppercase;
                font-family: 'Righteous', cursive;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                color: $black-light;
            }
        }
        #form input[type="text"]:active, #form input[type="text"]:focus, #form input[type="text"]:hover, #form input[type="email"]:active, #form input[type="email"]:focus, #form input[type="email"]:hover {
            box-shadow: inset 0 0 0 3px #111;
            transition: all .5s ease-in-out;
        }
        #form input[type="text"]::placeholder, #form input[type="email"]::placeholder {
            font-size: 14px;
            color: $black;
        }
        #form {
            .form-group {
                &:hover {
                    .form-control {
                        transform: scale(1.1);
                         transition: all .5s ease-in-out;
                    }
                }
                .form-control {
                    width: 210px;
                    margin-right: 24px;
                    // box-shadow: 4px 6px 8px rgb(0 0 0 / 20%);
                    transition: all .5s ease-in-out;
                    border: none;
                    font-size: 14px;
                    font-weight: 500;
                    outline: none !important;
                    padding: 12px;
                    border-radius: 3px;
                    height: inherit;
                }
            }
            .submit-btn {
                position: relative;
                color: #111;
                font-size: 16px;
                font-weight: 600;
                border: 3px solid #111;
                border-radius: 3px;
                padding: 8px 12px;
                transition: all .3s;
                background-color: transparent;
                display: inline-block;
                text-align: center;
                span {
                    position: relative;
                    color: $black;
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                }
                &::before, &::after {
                    content: '';
                    position: absolute;
                    background-color: #111;
                }
                &::after {
                    width: 0;
                    height: 0;
                    top: 50%;
                    left: 50%;
                    transition: all 0.3s ease-in-out;
                }
                &:hover::after {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
                &:hover {
                    border-radius: 8px;
                }
                &:hover {
                    span {
                        color: $white;
                    }
                }
            }
        }
    }
}

// .submit-btn {
//     position: relative;
//     color: #111;
//     font-size: 16px;
//     font-weight: 600;
//     border: 3px solid #111;
//     border-radius: 3px;
//     padding: 8px 12px;
//     transition: all .3s;
//     background-color: transparent;
//     display: inline-block;
//     text-align: center;
// }

// .submit-btn::before, .submit-btn::after {
//     content: '';
//     position: absolute;
//     background-color: #111;
//     // z-index: -1;
// }
// .submit-btn::after {
//     width: 0;
//     height: 0;
//     top: 50%;
//     left: 50%;
//     transition: all 0.3s ease-in-out;
// }
// .submit-btn:hover::after {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
// }
// .submit-btn:hover {
//     color: red;
// }
// .submit-btn span {
//     position: relative;
//     z-index: 1;
//     color: white;
// }















// digital experience section start
.section-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 86px;
    .sc-title-box {
        flex-basis: 50%;
        .sc-title {
            font-size: 54px;
            font-weight: 700;
            line-height: 72px;
            color: $black;
        }
    }
    .sc-view-all-box {
        @include view-all ();
    }
}

.de-content-wrapper {
    padding: 0 16px;
    .info-box {
        .title {
            font-size: 36px;
            font-weight: 700;
            line-height: 48px;
            color: $black;
            text-transform: capitalize;
            padding-bottom: 16px;
        }
        .text {
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            color: $black-light;
        }
    }
}


// clients section start
.home-clients-section {
    .section-title-wrapper {
        .sc-title-box {
            flex-basis: 70%;
        }
    }
    .slide-rtl {
        padding: 64px 0;
    }
    .clients-logo {
        padding: 0 8px;
        a {
            &:focus-visible {
                outline: 0;
            }
            img {
                filter: grayscale(1);
                width: 100%;  
            }
        }
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }
}


// animated count section start
.animated-count-section {
    background-color: $light-gray;
    .counter-wrapper {
        display: flex;
        align-items: center;
        &.mid {
            justify-content: center;
        }
        &.right {
            justify-content: flex-end;
        }
        .number {
            h1 {
                font-size: 72px;
                font-weight: 700;
                line-height: 87px;
                color: $black;
                span {
                    font-family: 'inter', sans-serif;
                }
            }
            &:not(:first-child) {
                padding: 0 .5rem 0 .25rem;
                margin-top: -.75rem;
            }
        }
        .exp-plus {
            padding: 0 .75rem;
            margin-top: -0.75rem;
            img {
                width: 32px;
            }
        }
        .text {
            flex-basis: 32%;
            p {
                font-size: 22px;
                font-weight: 500;
                line-height: 30px;
                color: $black-light;
            }
        }
    }
}



// great together section start
.great-together-section {
    background-color: $black;
    .great-together-wrapper {
        height: 100%;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .content-wrapper {
            h1 {
                font-size: 62px;
                font-weight: 700;
                line-height: 82px;
                color: $white;
                padding-bottom: 3rem;
            }
            p {
                font-size: 24px;
                font-weight: 500;
                line-height: 42px;
                color: $white;
            }
        }
        .get-quote-wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .get-quote-box {
                width: 298px;
                height: 80px;
                line-height: 70px;
                background-color: $gray;
                border-radius: 50px;
                display: block;
                text-align: center;
                color: $white;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;
                @include view-all();
                a {
                    span {
                        color: $white;
                    }
                }
            }
        }
    }
}


// footer start
.footer {
    .footer-main {
        padding-bottom: 48px;
    }
    .flogo-wrapper {
        max-width: 200px;
        img {
            width: 100%;
        }
    }
    .finfo-wrapper {
        padding-top: 48px;
        .ft-title {
            h6 {
                font-family: 'Raleway', sans-serif;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 22px;
                color: $black;
                padding-bottom: 1rem;
            }
        }
        .link-box {
            a {
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 28px;
                color: $black-light;
                display: block;
            }
        }
        .contact-box {
            ul {
                li {
                    display: flex;
                    .icon {
                        flex-basis: 16px;
                        margin-right: .75rem;
                        img {
                            filter: invert(0.5);
                        }
                    }
                }
            }
            p {
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 28px;
                color: $black-light;
                position: relative;
            }
        } 

        .social-wrapper {
            text-align: right;
            ul>li:not(:last-child) {
                margin-bottom: 1rem;
                a {
                    display: inline-block;
                    max-width: 32px;
                }
            }
        }
    }

    .copyright {
        padding: 28px 0;
        border-top: 2px solid $light-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        .gray-round {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #a0a0a0;
            margin: 0 .75rem;
        }
        p {
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 28px;
            color: $black-light;
        }
    }

}